@import "tailwindcss";

@theme {
    --color-black: #111319;
    --color-white: #FAF9F6;
    --color-primary: #FFEECC;
    --color-secondary: #FFDDCC;
    --color-third: #FEBBCC;
    --cursor-custom: url('/img/cursor.png') 16 16, auto;
}
